html, body {
  height: 100vh;
}

body {
  --bgcolor: #001413;

  background: var(--bgcolor);
  margin: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.radar {
  --size: 450px;
  --color: #15fcd8;

  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--color);
  border-radius: 50%;
  mix-blend-mode: color-dodge;
  background:
    /* guides */
    linear-gradient(transparent 0 49.75%, var(--color) 49.75% 50%, transparent 50% 100%),
    linear-gradient(to right, transparent 0 49.75%, var(--color) 49.75% 50%, transparent 50% 100%),
    /* radar */
    radial-gradient(
      transparent 0 25%, var(--color) 25.5% 25.75%, transparent 26% 50%, var(--color) 50.5% 50.75%, transparent 51% 75%, var(--color) 75.5% 75.75%, transparent 76% 100%
    ),
    radial-gradient(#00767211, #002421 65%),
    /* grid */
    repeating-linear-gradient(#0e817a77 0 1px, transparent 1px 25px),
    repeating-linear-gradient(to right, #0e817a77 0 1px, transparent 1px 25px),
    /* background */
    radial-gradient(#007662, #002421 65%);
}

.radar::before {
  --dark-color: color-mix(in srgb, var(--color), transparent 85%);

  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--dark-color);
  border-radius: 50%;
  position: absolute;
  filter: blur(1px);
  animation: pulse 1.25s infinite 0.25s;
}

@keyframes pulse {
  from { scale: 1; }

  to {
    scale: 1.2;
    opacity: 0%;
  }
}

.radar::after {
  --radar-color: color-mix(in srgb, var(--color), transparent 50%);

  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: conic-gradient(transparent, var(--radar-color) 0.1turn 0.15turn, transparent 0.25turn);
  border-radius: 50%;
  mix-blend-mode: plus-lighter;
  animation: move-radar 5s linear infinite;
}

@keyframes move-radar {
  from { rotate: -0.125turn; }
  to { rotate: 0.875turn; }
}

.mute {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

  & img {
    width: 48px;
  }

  & input {
    display: none;
  }

  & input:checked ~ .on { display: none; }
  & input:not(:checked) ~ .off { display: none; } 
}

.dot {
  --size: 20px;
  --x: 50%;
  --y: 50%;

  width: var(--size);
  height: var(--size);
  background: var(--color);
  border-radius: 50%;
  position: absolute;
  top: var(--y);
  left: var(--x);
  opacity: 50%;
  filter: blur(1px);
  animation: dissapear 2s ease-in-out forwards;
}

@keyframes dissapear {
  to { opacity: 0%; }
}
