body {
  background: #171717;
}

.container {
  background-image: linear-gradient(#051327, #000);
  position: fixed;
  inset: 0;
}

.space {
  width: var(--size);
  height: var(--size);
  background-color: #fff;
  box-shadow: var(--space-layer);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 75%;
  animation: move-stars var(--duration, 20s) linear infinite;
}

@keyframes move-stars {
  from { transform: translateY(0); }
  to { transform: translateY(-100vh); }
}
